* {
    margin: auto;
    padding: 0px;
  }
  
body {
    background-color: #4685e4;
    font-family: "Inter", monospace;
    color: white;
}

button {
    width: 100%;
    max-width: 30rem;
    min-height: 3rem;
    margin-bottom: 1rem;
    height: 3rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    display: inline-block;
    color: white;
    background-color: var(--secondary-color);
    border-color: white;
    border-width: 3px;
    border-style: solid;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 4px 6px var(--transparent-dark);
    position: relative;
    overflow: hidden;
}

button:hover {
    background-color: #3d7bd9; 
}

aside {
    display: flex; 
    justify-content:center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.buttons {
    display: flex; 
    justify-content:center;
    flex-direction: column;
    align-items: center;
}

#logout-button {
    position: fixed; 
    top: 10px; 
    right: 10px; 
    z-index: 999; 
    background-color: #fff;
    color: #4685e4;
    /* background-color: #007bff;
    color: #fff; */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 10rem;
    font-family: "Inter", monospace;
    

}

/* Style the button on hover */
#logout-button:hover {
    /* #3d7bd9 0056b3 */
    background-color: #3d7bd9; /* Change background color on hover */
    color: #fff;
}

img {
    width: auto; /* or max-width: 100%; */
    height: auto;
}
