*
{
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}

body {
    background-color: #6499E9;
    font-family: "Inter", monospace;
    color: white;
}

aside {
    display: flex; 
    justify-content:center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}


button {
    width: 100%;
    max-width: 30rem;
    min-height: 3rem;
    height: 3rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    display: inline-block;
    color: white;
    background-color: var(--secondary-color);
    border-color: white;
    border-width: 3px;
    border-style: solid;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 4px 6px var(--transparent-dark);
    position: relative;
    overflow: hidden;
}

.buttons {
    display: flex; 
    justify-content:center;
    flex-direction: column;
    align-items: center;
}