<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
      charset="UTF-8"
      lang="en"
    />
    <title>Score history</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Inter"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/quiz_history.css" />
    <script type="text/javascript" src="js/quiz_history.js" defer></script>
  </head>
  <body>
    <main id="history-main">
      <header class="main-header">
        <h1 id="history-for-heading">Math Trivia history for</h1>
      </header>
      <ul id="score-history"></ul>
    </main>
  </body>
</html>
