<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
      charset="UTF-8"
      lang="en"
    />
    <title>Math trivia</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Inter"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/trivia.css" />
    <script type="text/javascript" src="js/trivia.js" defer></script>
    <script type="text/javascript" src="js/logout.js" defer></script>
  </head>
  <body>
    <main id="home-content">
      <header class="main-header">
        <h1>Math Trivia</h1>
      </header>
      <section id="timer"></section>
      <section class="question-section">
        <label id="question"></label>
        <label id="score"></label>
      </section>
      <section id="answers-section"></section>
      <section id="navigation-section">
        <button class="navigation-button" id="try-again">Try Again</button>
        <button class="navigation-button">Calculator</button>
      </section>
      <button id="logout-button">Logout</button>
    </main>
  </body>
</html>